/* Custom Styling */

/* Restaurant results will wrap on multiple lines if needed */
#restaurant-content {
    flex-wrap: wrap;
}

/* When a user hovers on a restaurant tile, saved restaurant, or a menu item, the cursor will change 
to a pointer to indicate that it can be clicked */
.restaurant-tile:hover, .resturant-menu-item:hover, #saved-restaurant-list:hover {
    cursor: pointer;

}

/* Link style */
a {
    text-decoration: underline dotted;
    color: black;
    padding-left: 0.25rem;
}

/* Images in saved restaurant list */
#saved-recipe-list img {
    width: 25%;
}

/* Link style */
a {
    text-decoration: underline dotted;
    color: black;
    padding-left: 0.25rem;
}

/* saved restaurant list */
#saved-restaurant-list ul {
    display: inline-flex;
    flex-direction: column;
}

#saved-recipe-list img {
    width: 20%;
    vertical-align: top;
}

#saved-restaurant-list p {
    width: 100%;
    vertical-align: middle;
    padding: 0.25rem;
}

/* Modal titles and text will wrap if needed */
.modal p {
    flex-wrap: wrap;
    flex-shrink: 1;
}


/* Footer Styling */
.footer {
    padding: 0.5rem;
}

.content figure {
    margin: 0.5rem;
}

.food-added-container {
    margin-top: 20px;
}
.food-added-span {
    border: 2px rgb(98, 148, 223) solid;
    border-radius: 10px;
    background-color: rgba(135, 206, 250, 0.5);
    padding: 2px 5px;
}
.food-added-button {
    background-color: rgba(0, 0, 0, 0);
    border: 0;
    cursor: pointer;
}